<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Exmpl.Dao.roleMapper">

    <insert id="saveRoleMenu">
        insert into MR (rno,mno) values
        <foreach collection="menuIds" item="i" index="index" separator=",">
            (#{rno},#{i})
        </foreach>
    </insert>
</mapper>