.usertext {
  font-size: 18px;
  font-weight: 700;
  color: #2c3e50;
  margin-top: 10px;
  margin-left: 20px;
}

.demo-basic--circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 200px;
  font-size: 28px;

}
.edit{
  margin-top: 10px;
  margin-left: 20px;
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
pre {
  position: relative;
  min-width: 600px;
  margin: 0;
}
.hljs {
  display: block;
  width: 100%;
  margin: 0;
  padding: 1px;
  color: #abb2bf;
  font-weight: 200;
  font-size: 0.75rem;
  font-family: Menlo, Monaco, Consolas, Courier, monospace;
  line-height: 1.5;
  white-space: pre-wrap;
  border: 0;
}
.hljs ol {
  margin: 0 0 0 35px;
  padding: 0;
  list-style-type: decimal;
}
.hljs ol li {

  color: #abb2bf;
  white-space: pre;

  list-style-position: outside;
  border-left: 1px solid #c5c5c5;
}
.signup-form {
  position: relative;
  width: 520px;
  max-width: 100%;
  padding: 20px 35px 0;
  margin: 2px auto;
  overflow: hidden;

}
.myLink:hover {
  color: #20a0ff;
}
