.title {
  font-size: 30px;
  background-color: #20a0ff;
  color: white;
  margin-bottom: 20px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 7px;


}

.aside {
  font-size: 10px;
  background-color: #ffffff;
  color: rgba(55, 61, 75, 0.25);
  margin-bottom: 20px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  width: 300px;
  height: fit-content;
  margin-top: 20px;
}

.el-card {
  border-radius: 10px;
  padding-left:50px

}

.author {
  font-size: 20px;
  color: gray;
  text-align: end;
  margin-bottom: 10px;
}

.score {
  color:#ff9900;
}
.pre{
  width: 100%;
}

.comment-list {
  width: 250px;
  height: 600px;
  border-color: #20a0ff;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: inset 0 0 2px rgb(175, 176, 185);
}
.comment-content {
  font-size: 15px;
}
